html, body {
    background-color: #D7ECF1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #6369D1;
}

.main {
    margin-top: 10%;
    margin-bottom: 10%;
}

#stats-card {
    background-color: #F5F4F5;
}

#welcome, #title {
    font-family: 'Chewy', cursive;
    color: #6369D1;
}

.log {
    background-color: #82D173;
    color: white;
}

.resume {
    background-color: #EF476F;
    color: white;
}

#summary {
    position: relative;
        left: 30vw;
}

#new-workout {
    margin-left: 5rem;
    margin-right: 5rem;
}

#date-input {
    padding: 0 1rem;
}

#confirmSave {
    color: #EF476F;
    font-weight: bold;
    /* padding-left: 1.25rem !important; */
}

#activitiesLabel {
    text-align: left !important;
}

#dateLabel {
    font-size: 1.25rem;
}